@import './colors';
@import './animations';
$Color-Underline_active: orangered;
$Color-Underline_inactive: lightgray;
.Input-wrapper {
    font-size: 1.6rem;

    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    height: 4rem;
    width: 30rem;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2em;
        background: $Color-Underline_inactive;
        content: '';
    }
}

.Input-focused::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background: $Color-Underline_active;
    content: '';
    animation: fade-in 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.Input-primary {
    color: inherit;
    font-size: inherit;
    border: 2px solid $Color-Underline_inactive;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;

    &:focus {
        color: darken($Color_Underline_active, 30%);
        outline: none;
        border: 2px solid $Color-Underline_active;
        background-color: lighten($Color_Underline_active, 55%);
        // border-bottom: 4px solid lightcoral;
    }
}
