@import './colors';
.LoginContainer {
    color: $Color-Primary;
    min-width: 100%;
    width: 40%;
    padding: 2rem 5rem;
    max-height: 35%;
    $_Horizontal-Padding: 5rem;
    // padding-left: $_Horizontal-Padding;
    // padding-right: $_Horizontal-Padding;
    text-align: center;
    background-color: $Color-Primary-Background;
    border: 3px solid $Color-Primary;
    border-radius: 10px;
    &_flex {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &_input {
        width: 100%;
    }

    &_options {
        font-size: 1.6rem;
        color: $Color-Neutral;
    }
}
