@import './colors';
@import './animations';
@mixin nav-underline {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    z-index: 1;
    background-color: $Color-Primary;
    animation: swipe-fade-in-right 0.3s ease-in-out;
}
$_Navbar-height: 5rem;

.Navbar {
    display: flex;
    font-size: 2.5rem;
    overflow: hidden;
    width: 100%;
    min-height: $_Navbar-height;
    background-color: $Color-Neutral;
    color: $Color-Primary;
    &_item-current::after {
        @include nav-underline();
    }

    &_end {
        margin-left: auto !important;
    }

    &_item {
        user-select: none;
        font-size: inherit;
        z-index: 2;
        cursor: pointer;
        position: relative;
        color: $Color-Primary;
        padding: 1rem 2rem;
        display: inline-block;
        background-color: $Color-Primary-Background;
        text-decoration: none;
        height: $_Navbar-height;

        &:last-child {
            z-index: 1;
            box-shadow: 3px 5px 5px rgba(black, 33%);
        }

        &:hover::after {
            @include nav-underline();
            background-color: lighten($Color-Primary, 25%);
        }
        &:active::after {
            @include nav-underline();
        }
    }
}
